/* CSS UNIVERSAL RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* allows all elements ti inherit box-sizing from body*/
  box-sizing: inherit;
}

html {
  /* Equiv to standard of 10px but allows user to set own font */
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  text-align: center;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  box-sizing: border-box;
}

.head {
  display: flex;
  height: 70rem;
  
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url("./images/img-mission-background.webp");
  background-size: cover;
}

.head__nav {
  background-color: red;
  height: 6.9rem;
  position: fixed;
  width: 100%;
  border-bottom: 0.1rem solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  margin-left: 10px;
  
}

.head__nav ul {
  display: flex;
}

.head__nav ul li {
  margin-left: 10px;
  text-decoration: underline;
  list-style-type: none;
}

.content {
  padding: 2rem;
}

.head__title {
  background-color: black;
  width: 120rem;
  line-height: 50px;
  align-items: center;
}

.inventory {
  margin: 0 auto;
  background-color: blue;
  height: 60rem;
  width: 83%; 
}

.inventory__title {
  background-color: green;
  width: 100%;
  margin: auto;
}

.inventory__images {
  display: flex;
  background-color: teal;
  width: 100%;
  margin: auto;
  justify-content: space-between;

}

.location {
  margin: 0 auto;
  background-color: purple;
  height: 70rem;
  width: 83%;
  
}

.footer {
  height: 5rem;
  width: 100%;
}